# =========================
# Python / Flask
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.env

# =========================
# Node / React / Vite
# =========================
node_modules/
dist/
build/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/
*.log
